<ion-view view-title="Guardado" class="guardado">
  <ion-content>
  <br><br>
  	<div>
  		<p style="color:black"><strong>Usuario:</strong> {{archivo.nombre}}</p>
  		<p style="color:black"><strong>Pregunta 1:</strong> {{archivo.pregunta1}}</p>
      <p style="color:black"><strong>Respuesta Correcta:</strong> {{archivo.respuesta1}}</p>
      <p style="color:black"><strong>Puntos:</strong> {{archivo.valor1}}</p>
      <p style="color:black"><strong>Respuesta del usuario:</strong> {{archivo.respUser1}}</p>

      <p style="color:black"><strong>Pregunta 2:</strong> {{archivo.pregunta2}}</p>
      <p style="color:black"><strong>Respuesta Correcta:</strong> {{archivo.respuesta2}}</p>
      <p style="color:black"><strong>Puntos:</strong> {{archivo.valor2}}</p>
      <p style="color:black"><strong>Respuesta del usuario:</strong> {{archivo.respUser2}}</p>

      <p style="color:black"><strong>Pregunta 3:</strong> {{archivo.pregunta3}}</p>
      <p style="color:black"><strong>Respuesta Correcta:</strong> {{archivo.respuesta3}}</p>
      <p style="color:black"><strong>Puntos:</strong> {{archivo.valor3}}</p>
      <p style="color:black"><strong>Respuesta del usuario:</strong> {{archivo.respUser3}}</p>

      <p style="color:black"><strong>Puntaje Total:</strong> {{archivo.puntaje}}</p>
      <p style="color:black"><strong>Nivel del usuario:</strong> {{archivo.nivel}}</p>
      <br>
  	</div>

  </ion-content>
</ion-view>