<ion-view view-title="Trivia" class="signup-background">
  <ion-content>
  		<h2 style="color:yellow"><strong>{{usuario.nombre}}</strong></h2><br>
  		<div ng-repeat="pregunta in preguntas">
  			<h3 ng-show="pregunta.id==1" style="color:yellow"><strong>{{pregunta.pregunta}}</strong></h3>

  			<button class="button button-block button-positive" ng-repeat="opcion in pregunta.opciones" ng-show="pregunta.id==1" ng-click="Verificar(opcion, pregunta)">
			  {{opcion}}
			</button>

  			<h3 ng-show="pregunta.id==2 && usuario.pregunta1" style="color:yellow"><strong>{{pregunta.pregunta}}</strong></h3>

  			<button class="button button-block button-positive" ng-repeat="opcion in pregunta.opciones" ng-show="pregunta.id==2 && usuario.pregunta1" ng-click="Verificar(opcion, pregunta)">
			  {{opcion}}
			</button>

  			<h3 ng-show="pregunta.id==3 && usuario.pregunta1 && usuario.pregunta2" style="color:yellow"><strong>{{pregunta.pregunta}}</strong></h3>

  			<button class="button button-block button-positive" ng-repeat="opcion in pregunta.opciones" ng-show="pregunta.id==3 && usuario.pregunta1 && usuario.pregunta2" ng-click="Verificar(opcion, pregunta)">
			  {{opcion}}
			</button>

			<br><br>
			<br>

  		</div>
  			<p style="color:yellow"><strong>Su puntaje es {{usuario.puntaje}}</strong></p><br>
			<button class="button button-energized" ng-show="usuario.pregunta1 && usuario.pregunta2 && usuario.pregunta3" ng-click="Salir()">
			  Salir
			</button>
  </ion-content>
</ion-view>
