/* Empty. Add your own CSS if you like */

.signup-background {
    background-color: black;
}

.autor{
	background-color: #610B4B;
}

h2{
	color:yellow;
	text-align: center;
}

h3{
	color:yellow;
	text-align: center;
}

p{
	color:yellow;
	text-align: center;
	font-size: 16px;
}

.btnCorrecto
{
	background-color: #00FF00;
	color: white;

}

.btnIncorrecto
{
	background-color: #FE2E2E;
	color: white;	
}

ion-icon{
	color:yellow;
	font-size: 20px;
}